*{
    margin: 0;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none ;
    color: black;
}

/* Configurações gerais */

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/texture.png);
    background-size: cover;
    background-position: center;
    opacity: 0.12;
    z-index: -1;
}

body {
    position: relative;
    z-index: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    word-wrap: break-word;
    white-space: normal;
}

/* Fim Configurações gerais */


.background-conteudo{
    background-color: rgb(255, 255, 255);
    margin-left: 15vw;
    margin-right: 15vw;
    min-height: 100vh;
    overflow: hidden;
    box-shadow:
    -10px 0 20px rgba(0, 0, 0, 0.2),  /* sombra esquerda */
     10px 0 20px rgba(0, 0, 0, 0.2);  /* sombra direita */

}

/* Inicio menu */

.menu{
    position: fixed;
    width: 100%;
}

.menu-nav{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    height: 10vh;
    align-items: center;
    color: black;
    border: solid 1px rgb(223, 223, 223);
}

.logo-div{
    margin-left: 10vw;
}

.logo{
    height: 50px;
}

.links{
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: space-evenly;
}

#inicio:hover{
    color: aqua;
}

#calc-imc-link:hover{
    color: aqua;
}

#bem-estar:hover{
    color: aqua;
}

#saude-mental:hover{
    color: aqua;
}

#sobre:hover{
    color: aqua;
}

/* fim do menu */




/* Conteudo principal */

.inicio{
    margin-top: 5vh;
    display: flex;
}

.textos-inicio{
        max-width: 50vw;
        margin: 0 auto;
        padding: 1rem;
        line-height: 1.6;
        text-align: justify;
}

.titulo{
    margin-top: 10vh;
}

.video{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.area-calc{
    display: flex;
    height: 450px;
    margin-left: 15px;
    margin-right: 15px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.caixa-calc{
    justify-content: center;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #4faffd, #30d6ff);
    padding: 5vh;
    height: 30vh;
    border-radius: 15px;
    gap: 10px;
    box-shadow:
    -10px 0 20px rgba(0, 0, 0, 0.2),  /* sombra esquerda */
     10px 0 20px rgba(0, 0, 0, 0.2);  /* sombra direita */
    
}

/* Fim Conteudo principal */




/* Calculadora estilo */

#titulo-calc-id{
    color: white;
}

label{
    color: white; 
}

.input1{
    border-style: none; 
    border-radius: 15px;
    height: 5vh;
}

.input2{
    border-style: none;
    border-radius: 15px;
    height: 5vh;
}

.btn-calc{
    border-style: none;
    border-radius: 15px;
    height: 5vh;
}

.btn-calc:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

/* Fim Calculadora estilo */

.cont-texto{
        max-width: 50vw;
        margin: 0 auto;
        padding: 1rem;
        line-height: 1.6;
        text-align: justify;
}

.footer{
    display: flex;
    height: 15vh;
    background-color: #30d6ff;
    justify-content: center;
    align-items: center;
}

.dentro-do-footer{
    color: white;
}

.caixa-cont-texto{
    margin-bottom: 5vh;
}


/* Responsividade Mobile */

@media screen and (max-width:768px) {

    #calc-imc-link{
        display: none;
    }

    /* Links do menu e logo */
    #nutriçao{
        display: none;
    }
    
    #fitness{
        display: none;   
    }

    #bem-estar{
        display: none;
    }

    #saude-mental{
        display: none;
    }

    #sobre{
        margin-right: 11vw;
    }

    .logo-div{
        margin-left: 25vw;

    }

    /* Fim Links do menu e logo */

    .inicio{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        max-width: 600px;
        margin: 0 auto;
        padding: 1rem;
    }

    .textos-inicio{
        max-width: 600px;
        margin: 0 auto;
        padding: 1rem;
        line-height: 1.6;
        text-align: center;
    }

    .video{
        width: 100%;
        max-width: 260px;
        margin-top: 2vh;
    }

    .video iframe{
        width: 100%;
        border: none;
        aspect-ratio: 16 / 9;
        
    }
    .caixa-cont-texto{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 600px;
        margin: 0 auto;
        padding: 1rem;
    }

    .cont-texto{
        max-width: 600px;
        margin: 0 auto;
        line-height: 1.6;
        text-align: center;
    }

    .background-conteudo{
        margin-left: 0;
        margin-right: 0;
    }

    .caixa-calc{
        padding: 10vw;
    }

    label{
        color: white;
    }

    .input1{
        border-style: none;
    }

    .input2{
        border-style: none;
    }

    .area-calc{
        margin-bottom: 45vh;
    }
    
    .dentro-do-footer{
        margin: 35px;
    }
}

/* Fim Responsividade mobile */

@media (max-width:1460px) and (min-width:768px) {

    .area-calc{
        margin-top: 3vw;
    }

    .caixa-cont-texto{
        margin-top: 38vh;
    }
  
}